<p>
  example-map works!
</p>

<div id="map">
  <act-map [zoom]="14"
    [latitude]="13.7643345" 
    [longitude]="100.5684626">
    <!-- <act-marker [latitude]="point.lat" [longitude]="point.lng"></act-marker> -->
    
    <act-info-marker *ngFor="let item of markers; let i=index"
      key="marker-{{i}}"
      [latitude]="item.lat" [longitude]="item.lng">
        <ng-template>
          <div class="marker-price">THP 13,042</div>
        </ng-template>
        <act-pop-over key="marker-{{i}}"
          [isOpen]="i === 0">
          <ng-template>
            <app-pop-over-content></app-pop-over-content>
          </ng-template>
        </act-pop-over>
    </act-info-marker>
    
  </act-map>
</div>