
/********************************************************************
  * Pop Over Style 
  *******************************************************************/

.pop-float-wrapper {
  position: absolute;
  width: 100%;
}

.pop-float-wrapper,
.pop-float-wrapper * {
  box-sizing: border-box;
}

[class*='pop-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  cursor: default;
}

.pop-wrapper-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -40px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.pop-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.pop-wrapper-left {
  margin-top: -20px;
  margin-left: -11px;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.pop-wrapper-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: -20px;
  margin-left: 11px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

[class*='pop-shadow-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.29804;
  z-index: 1;
}

.pop-shadow-wrapper-top,
.pop-shadow-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pop-shadow-pointer-bottom,
.pop-shadow-pointer-right {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.pop-shadow-frame {
  box-shadow: 0 1px 3px 0 #000;
}

[class*='pop-shadow-pointer'] {
  position: relative;
  width: 15px;
  height: 15px;
  margin: auto;
}

[class*='pop-shadow-inner-pointer'] {
  position: absolute;
  width: 141%;
  height: 141%;
  box-shadow: -0.70711px 0.70711px 3px 0 #000;
}

.pop-shadow-inner-pointer-top {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-shadow-inner-pointer-bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

.pop-shadow-inner-pointer-left {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-shadow-inner-pointer-right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
  transform: translate(50%, -50%) rotate(-45deg);
}

.pop-frame {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-radius: 3px;
  overflow: hidden;
  z-index: 2;
}

.pop-content-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  background-color: #fff;
}

.pop-has-border .pop-content-wrapper {
  border: 1px solid #bbb;
}

.pop-content {
  overflow: auto;
}

.pop-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: Arial, Baskerville, monospace;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pop-close-button:hover,
.pop-close-button:focus {
  opacity: 0.7;
}

[class*='pop-pointer-border'] {
  position: absolute;
  border: 15px solid transparent;
  z-index: 3;
}

[class*='pop-pointer-bg'] {
  position: relative;
  border: 15px solid transparent;
  z-index: 4;
}

.pop-has-border [class*='pop-pointer-bg'] {
  border-width: 15px;
}

.pop-pointer-border-top,
.pop-pointer-border-bottom {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.pop-pointer-border-left,
.pop-pointer-border-right {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.pop-pointer-top {
  border-bottom: 0;
}

.pop-pointer-border-top {
  bottom: 0;
  border-top-color: #bbb;
}

.pop-pointer-bg-top {
  border-top-color: #fff;
}

.pop-has-border .pop-pointer-bg-top {
  top: -1px;
  margin-bottom: 0px;
}

.pop-pointer-bottom {
  border-top: 0;
}

.pop-pointer-border-bottom {
  top: 0;
  border-bottom-color: #bbb;
}

.pop-pointer-bg-bottom {
  border-bottom-color: #fff;
}

.pop-has-border .pop-pointer-bg-bottom {
  bottom: -1px;
  margin-top: 0px;
}

.pop-pointer-left {
  border-right: 0;
}

.pop-pointer-border-left {
  right: 0;
  border-left-color: #bbb;
}

.pop-pointer-bg-left {
  border-left-color: #fff;
}

.pop-has-border .pop-pointer-bg-left {
  left: -1px;
  margin-right: 0px;
}

.pop-pointer-right {
  border-left: 0;
}

.pop-pointer-border-right {
  left: 0;
  border-right-color: #bbb;
}

.pop-pointer-bg-right {
  border-right-color: #fff;
}

.pop-has-border .pop-pointer-bg-right {
  right: -1px;
  margin-left: 0px;
}



/********************************************************************
  * Info Marker Style 
  *******************************************************************/
.info-marker-float-wrapper {
  position: absolute;
  width: 100%;
}

.info-marker-float-wrapper,
.info-marker-float-wrapper * {
  box-sizing: border-box;
}

[class*='info-marker-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  cursor: default;
}

.info-marker-wrapper-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -40px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.info-marker-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.info-marker-wrapper-left {
  margin-top: -20px;
  margin-left: -11px;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.info-marker-wrapper-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: -20px;
  margin-left: 11px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

[class*='info-marker-shadow-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.29804;
  z-index: 1;
}

.info-marker-shadow-wrapper-top,
.info-marker-shadow-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-marker-shadow-pointer-bottom,
.info-marker-shadow-pointer-right {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.info-marker-shadow-frame {
  box-shadow: 0 1px 3px 0 #000;
}

[class*='info-marker-shadow-pointer'] {
  position: relative;
  width: 15px;
  height: 15px;
  margin: auto;
}

[class*='info-marker-shadow-inner-pointer'] {
  position: absolute;
  width: 141%;
  height: 141%;
  box-shadow: -0.70711px 0.70711px 3px 0 #000;
}

.info-marker-shadow-inner-pointer-top {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.info-marker-shadow-inner-pointer-bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

.info-marker-shadow-inner-pointer-left {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.info-marker-shadow-inner-pointer-right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
  transform: translate(50%, -50%) rotate(-45deg);
}

.info-marker-frame {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-radius: 6px;
  overflow: hidden;
  z-index: 2;
}

.info-marker-content-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 8px;
  background-color: #fff;
}
.info-marker-content-wrapper:hover {
  cursor: pointer;
}

.info-marker-has-border .info-marker-content-wrapper {
  border: 1px solid #bbb;
}

.info-marker-content {
  overflow: auto;
}

.info-marker-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: Arial, Baskerville, monospace;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.info-marker-close-button:hover,
.info-marker-close-button:focus {
  opacity: 0.7;
}

[class*='info-marker-pointer-border'] {
  position: absolute;
  border: 8px solid transparent;
  z-index: 3;
}

[class*='info-marker-pointer-bg'] {
  position: relative;
  border: 8px solid transparent;
  z-index: 4;
}

.info-marker-has-border [class*='info-marker-pointer-bg'] {
  border-width: 8px;
}

.info-marker-pointer-border-top,
.info-marker-pointer-border-bottom {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.info-marker-pointer-border-left,
.info-marker-pointer-border-right {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.info-marker-pointer-top {
  border-bottom: 0;
}

.info-marker-pointer-border-top {
  bottom: 0;
  border-top-color: #bbb;
}

.info-marker-pointer-bg-top {
  border-top-color: #fff;
}

.info-marker-has-border .info-marker-pointer-bg-top {
  top: -1px;
  margin-bottom: 0px;
}

.info-marker-pointer-bottom {
  border-top: 0;
}

.info-marker-pointer-border-bottom {
  top: 0;
  border-bottom-color: #bbb;
}

.info-marker-pointer-bg-bottom {
  border-bottom-color: #fff;
}

.info-marker-has-border .info-marker-pointer-bg-bottom {
  bottom: -1px;
  margin-top: 0px;
}

.info-marker-pointer-left {
  border-right: 0;
}

.info-marker-pointer-border-left {
  right: 0;
  border-left-color: #bbb;
}

.info-marker-pointer-bg-left {
  border-left-color: #fff;
}

.info-marker-has-border .info-marker-pointer-bg-left {
  left: -1px;
  margin-right: 0px;
}

.info-marker-pointer-right {
  border-left: 0;
}

.info-marker-pointer-border-right {
  left: 0;
  border-right-color: #bbb;
}

.info-marker-pointer-bg-right {
  border-right-color: #fff;
}

.info-marker-has-border .info-marker-pointer-bg-right {
  right: -1px;
  margin-left: 0px;
}
